<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Brand -->
    <a class="navbar-brand me-3" href="/index.html"><i class="fa-solid fa-gamepad"></i> Homepage</a>

    <!-- Navbar toggler for collapsing the projects menu on small screens -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarProjects"
      aria-controls="navbarProjects"
      aria-expanded="false"
      aria-label="Toggle projects menu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible projects menu -->
    <div class="collapse navbar-collapse" id="navbarProjects">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link px-3" href="/projects/platformer/platformer.html">Platformer Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/projects/tetris/tetris.html">Tetris</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
