<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Brand (Aligned to the Left) -->
    <a class="navbar-brand" href="/index.html">
      <i class="fa-solid fa-gamepad"></i> Homepage
    </a>



    <!-- Right-Aligned Content -->
    <div class="d-flex ms-auto align-items-center">

      <!-- Dropdown menu -->
      <div class="dropdown me-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          All Projects
        </button>
        <ul class="dropdown-menu">
          <li><a href="/projects/Junkyard_Tycoon/junkyard_tycoon.html" class="dropdown-item">Junkyard Tycoon</a></li>
          <li><a href="/projects/take_two/take_two.html" class="dropdown-item">Take Two</a></li>
          <li><a href="/projects/wordle/wordle.html" class="dropdown-item">Wordle</a></li>
          <li><a href="/projects/flappy_bird/flappy_bird.html" class="dropdown-item">Flappy Bird</a></li>
        </ul>
      </div>

      <!-- Contact Me Button -->
      <a href="/contactInfo/contact.html" class="btn btn-primary">Contact Me</a>


    </div>

  </div>
</nav>